:root {
    font-family: 'Indie Flower', cursive;
    background-color: #121213;
}

body {
    height: 95vh;
    width: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100%;


}

.title {
    font-size: 4rem;
    margin-top: -100px;
    color: white;
    text-align: center;
}

/* Board styling */

.board {
    display: inline-grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
    border: rgb(129, 129, 129) solid 2px;

}

.board>div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    font-size: 8rem;
    color: white;
}

.board>div:nth-of-type(even) {
    background-color: rgb(129, 129, 129);
}

.board>div:nth-of-type(odd) {
    background-color: rgb(39, 39, 39);
}

/* Winner declaration */

#winner {

    padding: 250px;
    position: absolute;
    font-size: 4rem;
    top: 120px;
    font-weight: 700;
    text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 2px #000,
        -1px -1px 0px #000;
    color: green;
    opacity: 1;
    animation: fadeIn .5s ease-out forwards;
}

@keyframes fadeIn {
    0% {

        display: none;
        opacity: 0;
    }

    1% {
        display: block;


    }

    100% {
        display: block;

        opacity: 1;
    }
}

/* Play again button */


#play-again {
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    top: 475px;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    animation: fadeIn2 .6s ease-out forwards;
}

#play-again:hover {
    background-color: rgb(39, 39, 39);
    color: rgb(150, 150, 150);

}

@keyframes fadeIn2 {
    0% {

        display: none;
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

/* Tile border removal */

div[class="0"] {
    border-right: none;
    border-bottom: none;
}

div[class="1"] {
    border-right: none;
    border-bottom: none;
}


div[class="3"] {
    border-right: none;
    border-bottom: none;
}

div[class="2"] {

    border-bottom: none;
}

div[class="4"] {
    border-right: none;
    border-bottom: none;
}

div[class="5"] {

    border-bottom: none;
}

div[class="6"] {
    border-right: none;
}

div[class="7"] {
    border-right: none;
}